body {
  background: #eee;
}
a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.btn {
  text-transform: capitalize;
  padding: 0 10px;
}
.btn i {
  font-size: 1.2rem;
  margin-right: 5px;
}
.mt15 {
  margin-top: 15px;
}
.mt30 {
  margin-top: 30px;
}
nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  line-height: 40px;
}
nav {
  height: auto;
  box-shadow: none;
}
nav .input-field input {
  height: auto;
  background: #5372a2;
}
nav .input-field input:focus {
  background: #fff;
}
.main-content {
  padding-bottom: 20px;
}
.feature-req {
  padding-bottom: 5px;
}
.feature-req .feature-req-title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}
.feature-req .feature-filter {
  margin-top: 65px;
}
.feature-req .feature-filter .progress-link {
  margin-top: 28px;
}
.feature-req .feature-filter .progress-link ul li {
  line-height: 1;
  display: inline-block;
}
.feature-req .feature-filter .progress-link ul li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 10px;
  margin-right: 6px;
}
.feature-req .feature-filter .progress-link ul li.active {
  background: transparent;
}
.feature-req .feature-filter .progress-link ul li.active a {
  opacity: 1;
}
.feature-req .feature-filter .progress-link ul li a {
  color: #fff;
  opacity: .8;
}
.feature-req .feature-filter .progress-link ul li a:hover {
  background: transparent;
  opacity: 1;
}
.feature-req .feature-filter .input-field .select-wrapper {
  padding-right: 15px;
}
.feature-req .feature-filter .input-field .select-wrapper .caret {
  color: #fff;
}
.feature-req .feature-filter .input-field .select-wrapper input.select-dropdown {
  border: 0;
  text-align: right;
  color: #fff;
}
.feature-list {
  background: #fff;
  padding: 30px;
  margin-top: -35px;
}
.feature-list .collection {
  border: 0;
}
.feature-list .collection .collection-item {
  padding-right: 270px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.feature-list .collection .collection-item .title {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}
.feature-list .collection .collection-item .tags .chip {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background: #777;
}
.feature-list .collection .collection-item.avatar i.circle {
  background: transparent;
  border: 1px solid #0D47A1;
  color: #0D47A1;
}
.feature-list .collection .collection-item.avatar.status-released i.circle {
  border-color: #4caf50;
  color: #4caf50;
}
.feature-list .collection .collection-item.avatar.status-pending i.circle {
  border-color: #ffa726;
  color: #ffa726;
}
.feature-list .collection .collection-item.avatar.status-wip i.circle {
  border-color: #ba68c8 ;
  color: #ba68c8 ;
}
.feature-list .collection .secondary-content {
  font-size: 12px;
}
footer {
  padding-bottom: 20px;
}
